# 一个简单的测试
# 机器学习
> ## 泰坦尼克号生还概率

>机器学习的第一个程序

>**提示**： 用**shift+Enter**快速执行代码

# 模块加载

In [7]:
import numpy as np
import pandas as pd
from IPython.display import display
%matplotlib inline

> *%matplotlib inline* 是一个**Jupyter Magic**(魔法命令)

# 定义函数

In [8]:
def xadd(arg):
    xadd = arg + 1
    return xadd

> 一般会定义在模块**FuncMaker**中

# 数据读取

In [5]:
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file)

In [12]:
display(full_data.head(8))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [9]:
xadd(1)

2

# 代码测试

In [ ]:
l = 1. / 2

In [ ]:
ll = 1 / 2

In [ ]:
print('效果酷炫')

> 论如何打出贝叶斯公式

$$ P(A \mid B) = \frac{P(B \mid A)P(A)}{P(B)} $$

### 创建于2016/11/9